test.ipynb
test.py


__pycache__/
plots/

outputs/*
launch_display.sh


*.pkl
graph_examples/

root_output_4events.root
# Mathieu
launch
python/
scripts/
temp/

# Erwan
npml_2025/
doc/*
custom_launch/*
playground/
*.svg
*.png
*.csv
*.npy
*.npz
